.demo-container {
    margin: 50px;
    width: 90vw;
}
body {
    margin: 8px;
}

#gantt {
    height: 700px;
}
.dx-gantt .dx-row {
    height: 63px;
}
.actual-task {
    height: 100%;
    display: inline-block;
    overflow: hidden;
    position: absolute;
    background-color: #92c3f2;
    opacity: 0.5;
    border-radius: 3px;
}
.planned-task {
    max-height: 48px;
    height: 100%;
    display: inline-block;
    overflow: hidden;
    border-radius: 3px 3px 0px 0px;
    background-color: #5C57C9;
}
.planned-task-wrapper {
    padding: 8px;
    color: #fff;
}
.planned-task-wrapper > * {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.planned-task-title {
    font-weight: 600;
    font-size: 13px;
}
.planned-task-resource {
    font-size: 12px;
}
.planned-task-progress {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 4px;
    background: rgba(0, 0, 0, .5);
    border-radius: 0px 0px 0px 3px;
}
